.flex {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: calc(30% - 2rem);
  color: white;
  margin: 0 2rem;
  margin-bottom: 2rem;
}

.card article {
  background-color: #343434;
  border-radius: 0 16px 0 16px;
  padding: 2rem;
  min-height: 500px;
}

.h1 {
  padding-bottom: 0;
  margin-bottom: 0;
}

.imgWrapper {
  background-color: white;
  padding: 1rem;
  display: flex;
}

.img {
  margin: auto;
}

.tagline {
  margin-top: 0;
  font-style: italic;
  font-size: 1rem;
  width: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #fad018;
  border-radius: 8px 0 8px 0;
  cursor: pointer;
}
