.container {
  padding: 0 2rem;
  counter-reset: foodPairing;
}

.flex {
  display: flex;
  flex-direction: column;

  margin: auto;
}

.imgWrapper {
  background-color: #343434;
  border-radius: 0 16px 0 16px;
  padding: 2rem 1rem;
  display: flex;
  width: 250px;
  position: relative;
}

.imgWrapper::after {
  content: "";
  display: block;
  position: absolute;
  background-color: white;
  top: 5%;
  right: 10%;
  bottom: 5%;
  left: 10%;
  z-index: 1;
}

.img {
  margin: auto;
  z-index: 2;
}

.tagline,
.ingredientName {
  font-style: italic;
}

.brewer {
  font-style: italic;
  width: 75%;
}

.pairing::before {
  counter-increment: foodPairing;
  content: counter(foodPairing) ". ";
}

.pairing:last-of-type::after {
  content: ".";
}

.pairing:not(:last-of-type)::after {
  content: ",";
}

.ingredientList,
.ingredientType {
  margin-bottom: 0;
}

.button {
  margin: 3rem 0;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #fad018;
  border-radius: 8px 0 8px 0;
  cursor: pointer;
}
