.titleWrapper {
  position: relative;
}

.title {
  color: white;
}

.title::after {
  content: "";
  width: 1px;
  height: 80%;
  background-color: white;
  position: absolute;
  display: block;
  top: 10%;
  right: -20%;
}

.navbar {
  background-color: #343434;
}
.flexBody {
  display: flex;
  width: 75%;
  justify-content: space-evenly;
}

.navList {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.navList li {
  margin: 1rem 0;
}

.navList li a:hover {
  color: rgba(255, 255, 255, 0.7);
}

.navList a {
  color: white;
}
