.navbar {
  background-color: #fad018;
  display: flex;
}

.navList {
  display: flex;
}

.navList li:not(:first-of-type) {
  margin: 0 0 0 2rem;
}

.navList li a:hover {
  color: rgba(0, 0, 0, 0.7);
}
